USE [NBA_Project]
GO
/****** Object:  Table [dbo].[common_player_info_final]    Script Date: 21/10/2025 16:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[common_player_info_final](
	[person_id] [int] NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[display_first_last] [nvarchar](255) NULL,
	[display_last_comma_first] [nvarchar](255) NULL,
	[display_fi_last] [nvarchar](255) NULL,
	[player_slug] [nvarchar](255) NULL,
	[birthdate] [nvarchar](255) NULL,
	[school] [nvarchar](255) NULL,
	[country] [nvarchar](255) NULL,
	[last_affiliation] [nvarchar](255) NULL,
	[height] [nvarchar](255) NULL,
	[weight] [float] NULL,
	[season_exp] [float] NULL,
	[jersey] [nvarchar](255) NULL,
	[position] [nvarchar](255) NULL,
	[rosterstatus] [nvarchar](255) NULL,
	[games_played_current_season_flag] [int] NULL,
	[team_id] [int] NULL,
	[team_name] [nvarchar](255) NULL,
	[team_abbreviation] [nvarchar](255) NULL,
	[team_code] [nvarchar](255) NULL,
	[team_city] [nvarchar](255) NULL,
	[playercode] [nvarchar](255) NULL,
	[from_year] [int] NULL,
	[to_year] [int] NULL,
	[dleague_flag] [int] NULL,
	[nba_flag] [int] NULL,
	[games_played_flag] [int] NULL,
	[draft_year] [int] NULL,
	[draft_round] [nvarchar](255) NULL,
	[draft_number] [nvarchar](255) NULL,
	[greatest_75_flag] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_final]    Script Date: 21/10/2025 16:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_final](
	[season_id] [int] NULL,
	[team_id_home] [int] NULL,
	[team_abbreviation_home] [nvarchar](255) NULL,
	[team_name_home] [nvarchar](255) NULL,
	[game_id] [int] NOT NULL,
	[game_date] [nvarchar](255) NULL,
	[matchup_home] [nvarchar](255) NULL,
	[wl_home] [nvarchar](255) NULL,
	[min] [int] NULL,
	[fgm_home] [float] NULL,
	[fga_home] [float] NULL,
	[fg_pct_home] [float] NULL,
	[fg3m_home] [float] NULL,
	[fg3a_home] [float] NULL,
	[fg3_pct_home] [float] NULL,
	[ftm_home] [float] NULL,
	[fta_home] [float] NULL,
	[ft_pct_home] [float] NULL,
	[oreb_home] [float] NULL,
	[dreb_home] [float] NULL,
	[reb_home] [float] NULL,
	[ast_home] [float] NULL,
	[stl_home] [float] NULL,
	[blk_home] [float] NULL,
	[tov_home] [float] NULL,
	[pf_home] [float] NULL,
	[pts_home] [float] NULL,
	[plus_minus_home] [int] NULL,
	[video_available_home] [int] NULL,
	[team_id_away] [int] NULL,
	[team_abbreviation_away] [nvarchar](255) NULL,
	[team_name_away] [nvarchar](255) NULL,
	[matchup_away] [nvarchar](255) NULL,
	[wl_away] [nvarchar](255) NULL,
	[fgm_away] [float] NULL,
	[fga_away] [float] NULL,
	[fg_pct_away] [float] NULL,
	[fg3m_away] [float] NULL,
	[fg3a_away] [float] NULL,
	[fg3_pct_away] [float] NULL,
	[ftm_away] [float] NULL,
	[fta_away] [float] NULL,
	[ft_pct_away] [float] NULL,
	[oreb_away] [float] NULL,
	[dreb_away] [float] NULL,
	[reb_away] [float] NULL,
	[ast_away] [float] NULL,
	[stl_away] [float] NULL,
	[blk_away] [float] NULL,
	[tov_away] [float] NULL,
	[pf_away] [float] NULL,
	[pts_away] [float] NULL,
	[plus_minus_away] [int] NULL,
	[video_available_away] [int] NULL,
	[season_type] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_summary_final]    Script Date: 21/10/2025 16:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_summary_final](
	[game_date_est] [nvarchar](255) NULL,
	[game_sequence] [float] NULL,
	[game_id] [int] NOT NULL,
	[game_status_id] [int] NULL,
	[game_status_text] [nvarchar](255) NULL,
	[gamecode] [nvarchar](255) NULL,
	[home_team_id] [int] NULL,
	[visitor_team_id] [int] NULL,
	[season] [int] NULL,
	[live_period] [int] NULL,
	[live_pc_time] [nvarchar](255) NULL,
	[natl_tv_broadcaster_abbreviation] [nvarchar](255) NULL,
	[live_period_time_bcast] [nvarchar](255) NULL,
	[wh_status] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[other_stats_final]    Script Date: 21/10/2025 16:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[other_stats_final](
	[game_id] [int] NOT NULL,
	[league_id] [int] NULL,
	[team_id_home] [int] NULL,
	[team_abbreviation_home] [nvarchar](255) NULL,
	[team_city_home] [nvarchar](255) NULL,
	[pts_paint_home] [int] NULL,
	[pts_2nd_chance_home] [int] NULL,
	[pts_fb_home] [int] NULL,
	[largest_lead_home] [int] NULL,
	[lead_changes] [int] NULL,
	[times_tied] [int] NULL,
	[team_turnovers_home] [float] NULL,
	[total_turnovers_home] [float] NULL,
	[team_rebounds_home] [float] NULL,
	[pts_off_to_home] [float] NULL,
	[team_id_away] [int] NULL,
	[team_abbreviation_away] [nvarchar](255) NULL,
	[team_city_away] [nvarchar](255) NULL,
	[pts_paint_away] [int] NULL,
	[pts_2nd_chance_away] [int] NULL,
	[pts_fb_away] [int] NULL,
	[largest_lead_away] [int] NULL,
	[team_turnovers_away] [float] NULL,
	[total_turnovers_away] [float] NULL,
	[team_rebounds_away] [float] NULL,
	[pts_off_to_away] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_final]    Script Date: 21/10/2025 16:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_final](
	[id] [int] NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[first_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[is_active] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team_final]    Script Date: 21/10/2025 16:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team_final](
	[id] [int] NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[abbreviation] [nvarchar](255) NULL,
	[nickname] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[year_founded] [float] NULL
) ON [PRIMARY]
GO

USE [NBA_Project];
GO

/* 1️⃣ Limpieza básica: eliminar filas con nulos en columnas clave */
PRINT '🧹 Eliminando registros con NULL en columnas clave...';
DELETE FROM dbo.team_final WHERE id IS NULL;
DELETE FROM dbo.player_final WHERE id IS NULL;
DELETE FROM dbo.game_final WHERE game_id IS NULL;
DELETE FROM dbo.common_player_info_final WHERE person_id IS NULL;
DELETE FROM dbo.other_stats_final WHERE game_id IS NULL;
DELETE FROM dbo.game_summary_final WHERE game_id IS NULL;
GO

/* 2️⃣ Eliminación de duplicados en columnas PK */
PRINT '🧩 Eliminando duplicados por clave primaria...';
;WITH d AS (
    SELECT id, ROW_NUMBER() OVER (PARTITION BY id ORDER BY (SELECT NULL)) AS rn
    FROM dbo.team_final
) DELETE FROM d WHERE rn > 1;

;WITH d AS (
    SELECT id, ROW_NUMBER() OVER (PARTITION BY id ORDER BY (SELECT NULL)) AS rn
    FROM dbo.player_final
) DELETE FROM d WHERE rn > 1;

;WITH d AS (
    SELECT game_id, ROW_NUMBER() OVER (PARTITION BY game_id ORDER BY (SELECT NULL)) AS rn
    FROM dbo.game_final
) DELETE FROM d WHERE rn > 1;

;WITH d AS (
    SELECT person_id, ROW_NUMBER() OVER (PARTITION BY person_id ORDER BY (SELECT NULL)) AS rn
    FROM dbo.common_player_info_final
) DELETE FROM d WHERE rn > 1;
GO

/* 3️⃣ Asegurar columnas clave como NOT NULL (por si hubo recreación previa) */
PRINT '🔒 Forzando NOT NULL en columnas PK...';
ALTER TABLE dbo.team_final ALTER COLUMN id INT NOT NULL;
ALTER TABLE dbo.player_final ALTER COLUMN id INT NOT NULL;
ALTER TABLE dbo.game_final ALTER COLUMN game_id INT NOT NULL;
ALTER TABLE dbo.common_player_info_final ALTER COLUMN person_id INT NOT NULL;
ALTER TABLE dbo.other_stats_final ALTER COLUMN game_id INT NOT NULL;
ALTER TABLE dbo.game_summary_final ALTER COLUMN game_id INT NOT NULL;
GO

/* 4️⃣ Crear PRIMARY KEYS si no existen */
PRINT '🔑 Creando PRIMARY KEYS si no existen...';
IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'PK_team')
    ALTER TABLE dbo.team_final ADD CONSTRAINT PK_team PRIMARY KEY (id);

IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'PK_player')
    ALTER TABLE dbo.player_final ADD CONSTRAINT PK_player PRIMARY KEY (id);

IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'PK_game')
    ALTER TABLE dbo.game_final ADD CONSTRAINT PK_game PRIMARY KEY (game_id);

IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'PK_commonplayer')
    ALTER TABLE dbo.common_player_info_final ADD CONSTRAINT PK_commonplayer PRIMARY KEY (person_id);

IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'PK_otherstats')
    ALTER TABLE dbo.other_stats_final ADD CONSTRAINT PK_otherstats PRIMARY KEY (game_id);

IF NOT EXISTS (SELECT 1 FROM sys.key_constraints WHERE name = 'PK_gamesummary')
    ALTER TABLE dbo.game_summary_final ADD CONSTRAINT PK_gamesummary PRIMARY KEY (game_id);
GO

/* 5️⃣ Crear índices útiles para Power BI */
PRINT '⚙️ Creando índices no cluster para optimizar joins...';

-- GAME_FINAL
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_game_team_home')
    CREATE INDEX IX_game_team_home ON dbo.game_final(team_id_home);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_game_team_away')
    CREATE INDEX IX_game_team_away ON dbo.game_final(team_id_away);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_game_season')
    CREATE INDEX IX_game_season ON dbo.game_final(season_id, season_type);

-- GAME_SUMMARY_FINAL
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_gsum_game')
    CREATE INDEX IX_gsum_game ON dbo.game_summary_final(game_id);

-- OTHER_STATS_FINAL
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_ostats_game')
    CREATE INDEX IX_ostats_game ON dbo.other_stats_final(game_id);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_ostats_team_home')
    CREATE INDEX IX_ostats_team_home ON dbo.other_stats_final(team_id_home);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_ostats_team_away')
    CREATE INDEX IX_ostats_team_away ON dbo.other_stats_final(team_id_away);
GO

/* 6️⃣ (Opcional) Verificación rápida */
PRINT '📊 Verificando registros por tabla...';
SELECT 'team_final' AS tabla, COUNT(*) AS filas FROM dbo.team_final
UNION ALL
SELECT 'player_final', COUNT(*) FROM dbo.player_final
UNION ALL
SELECT 'game_final', COUNT(*) FROM dbo.game_final
UNION ALL
SELECT 'game_summary_final', COUNT(*) FROM dbo.game_summary_final
UNION ALL
SELECT 'other_stats_final', COUNT(*) FROM dbo.other_stats_final
UNION ALL
SELECT 'common_player_info_final', COUNT(*) FROM dbo.common_player_info_final;
GO

PRINT '✅ Proceso de validación y estructura final completado correctamente.';

/* 7️⃣ ———— Crear relaciones entre tablas (modelo estrella NBA) ———— */

/* === 7️⃣ FIX de integridad referencial (versión segura y completa) === */
USE [NBA_Project];
GO
PRINT '🧩 Iniciando limpieza de registros huérfanos antes de crear las FOREIGN KEYS...';

/*  game_final → team_final */
DELETE FROM dbo.game_final
WHERE team_id_home NOT IN (SELECT id FROM dbo.team_final)
   OR team_id_away NOT IN (SELECT id FROM dbo.team_final);
PRINT '✅ Limpieza aplicada en game_final';

/*  other_stats_final → team_final */
DELETE FROM dbo.other_stats_final
WHERE team_id_home NOT IN (SELECT id FROM dbo.team_final)
   OR team_id_away NOT IN (SELECT id FROM dbo.team_final);
PRINT '✅ Limpieza aplicada en other_stats_final';

/*  common_player_info_final → team_final */
DELETE FROM dbo.common_player_info_final
WHERE team_id IS NOT NULL
  AND team_id NOT IN (SELECT id FROM dbo.team_final);
PRINT '✅ Limpieza aplicada en common_player_info_final';

/*  player_final → common_player_info_final */
DELETE FROM dbo.player_final
WHERE id NOT IN (SELECT person_id FROM dbo.common_player_info_final);
PRINT '✅ Limpieza aplicada en player_final';

/*  Verificación rápida */
SELECT 
  'game_final' AS Tabla, COUNT(*) AS Filas
  FROM dbo.game_final
UNION ALL
SELECT 'other_stats_final', COUNT(*) FROM dbo.other_stats_final
UNION ALL
SELECT 'common_player_info_final', COUNT(*) FROM dbo.common_player_info_final
UNION ALL
SELECT 'player_final', COUNT(*) FROM dbo.player_final;
GO

PRINT '🎯 Limpieza de integridad completada. Ahora podés correr el bloque de FOREIGN KEYS sin conflicto.';
USE [NBA_Project];
GO


PRINT '🔗 Creando FOREIGN KEYS entre tablas...';
GO

/* FACT TABLE: game_final
   DIMENSIONES: team_final (local y visitante)
   Cada fila de game_final representa un partido.
*/
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_game_team_home')
BEGIN
    ALTER TABLE dbo.game_final
    ADD CONSTRAINT FK_game_team_home
    FOREIGN KEY (team_id_home) REFERENCES dbo.team_final(id);
END;

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_game_team_away')
BEGIN
    ALTER TABLE dbo.game_final
    ADD CONSTRAINT FK_game_team_away
    FOREIGN KEY (team_id_away) REFERENCES dbo.team_final(id);
END;
GO

/* FACT TABLE: other_stats_final
   Relaciona estadísticas complementarias de cada partido con sus equipos y el game.
*/
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_ostats_game')
BEGIN
    ALTER TABLE dbo.other_stats_final
    ADD CONSTRAINT FK_ostats_game
    FOREIGN KEY (game_id) REFERENCES dbo.game_final(game_id);
END;

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_ostats_team_home')
BEGIN
    ALTER TABLE dbo.other_stats_final
    ADD CONSTRAINT FK_ostats_team_home
    FOREIGN KEY (team_id_home) REFERENCES dbo.team_final(id);
END;

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_ostats_team_away')
BEGIN
    ALTER TABLE dbo.other_stats_final
    ADD CONSTRAINT FK_ostats_team_away
    FOREIGN KEY (team_id_away) REFERENCES dbo.team_final(id);
END;
GO

/* DIM TABLE: common_player_info_final
   Relaciona cada jugador con su equipo actual.
*/
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_commonplayer_team')
BEGIN
    ALTER TABLE dbo.common_player_info_final
    ADD CONSTRAINT FK_commonplayer_team
    FOREIGN KEY (team_id) REFERENCES dbo.team_final(id);
END;
GO

/* DIM TABLE: player_final
   Relación 1:1 opcional con common_player_info_final.
   (Permite consultar metadatos de cada jugador histórico)
*/
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_player_person')
BEGIN
    ALTER TABLE dbo.player_final
    ADD CONSTRAINT FK_player_person
    FOREIGN KEY (id) REFERENCES dbo.common_player_info_final(person_id);
END;
GO

/* === LIMPIEZA PREVIA: game_summary_final con game_final === */
USE [NBA_Project];
GO
PRINT '🧹 Eliminando registros huérfanos en game_summary_final...';

DELETE FROM dbo.game_summary_final
WHERE game_id NOT IN (SELECT game_id FROM dbo.game_final);

PRINT '✅ Limpieza completada. game_summary_final ahora solo contiene game_id válidos.';
GO

/* FACT TABLE: game_summary_final
   Resumen general del partido — referencia directa a game_final.
*/
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_gsum_game')
BEGIN
    ALTER TABLE dbo.game_summary_final
    ADD CONSTRAINT FK_gsum_game
    FOREIGN KEY (game_id) REFERENCES dbo.game_final(game_id);
END;
GO

PRINT '✅ Relaciones (FOREIGN KEYS) creadas correctamente.';
GO

/* ============================================================
   0️⃣ CREACIÓN DEL SCHEMA ANALYTICS
============================================================ */
IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'analytics')
    EXEC('CREATE SCHEMA analytics');
GO


/* ============================================================
   1️⃣ VISTA BASE: temporadas por equipo
   (Identifica primera y última temporada registrada)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_team_season_basic;
GO
CREATE VIEW analytics.vw_team_season_basic AS
SELECT
    g.team_id_home AS team_id,
    MIN(g.season_id) AS first_season,
    MAX(g.season_id) AS last_season
FROM dbo.game_final AS g
GROUP BY g.team_id_home;
GO


/* ============================================================
   2️⃣ MÉTRICAS PRINCIPALES POR EQUIPO Y TEMPORADA
   (Victorias, derrotas, winrate, puntos promedio, FG%)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_team_season_metrics;
GO
CREATE VIEW analytics.vw_team_season_metrics AS
SELECT
    g.team_id_home AS team_id,
    g.season_id AS season_id,
    COUNT(*) AS games_played,
    SUM(CASE WHEN g.wl_home = 'W' THEN 1 ELSE 0 END) AS wins,
    SUM(CASE WHEN g.wl_home = 'L' THEN 1 ELSE 0 END) AS losses,
    1.0 * SUM(CASE WHEN g.wl_home = 'W' THEN 1 ELSE 0 END) / NULLIF(COUNT(*),0) AS winrate,
    AVG(CAST(g.pts_home AS FLOAT)) AS avg_ppg,
    AVG(CAST(g.fg_pct_home AS FLOAT)) AS avg_fg_pct
FROM dbo.game_final g
GROUP BY g.team_id_home, g.season_id;
GO


/* ============================================================
   3️⃣ DICCIONARIO DE EQUIPOS
============================================================ */
DROP VIEW IF EXISTS analytics.vw_teams;
GO
CREATE VIEW analytics.vw_teams AS
SELECT
    t.id AS team_id,
    COALESCE(t.full_name, t.abbreviation, t.nickname) AS team_name,
    t.abbreviation
FROM dbo.team_final t;
GO


/* ============================================================
   4️⃣ PREGUNTA 1 — Mejor rendimiento histórico
   (Victorias totales y promedio de puntos)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q1_hist_perf;
GO
CREATE VIEW analytics.vw_q1_hist_perf AS
SELECT
    tm.team_name,
    m.team_id,
    SUM(m.wins) AS total_wins,
    SUM(m.games_played) AS total_games,
    ROUND(1.0 * SUM(m.wins) / NULLIF(SUM(m.games_played),0), 3) AS winrate_hist,
    ROUND(AVG(m.avg_ppg), 2) AS avg_ppg_hist,
    RANK() OVER (
        ORDER BY ROUND(1.0 * SUM(m.wins) / NULLIF(SUM(m.games_played),0), 3) DESC,
                 AVG(m.avg_ppg) DESC
    ) AS rank_overall
FROM analytics.vw_team_season_metrics m
JOIN analytics.vw_teams tm ON tm.team_id = m.team_id
GROUP BY tm.team_name, m.team_id;
GO


/* ============================================================
   5️⃣ PREGUNTA 2 — Antigüedad vs rendimiento actual
   (Usa las 3 últimas temporadas disponibles)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q2_age_vs_current;
GO
CREATE VIEW analytics.vw_q2_age_vs_current AS
WITH ref AS (
    SELECT MAX(season_id) AS max_season FROM analytics.vw_team_season_metrics
),
curr AS (
    SELECT
        team_id,
        AVG(winrate) AS winrate_curr,
        AVG(avg_ppg) AS ppg_curr
    FROM analytics.vw_team_season_metrics m
    CROSS JOIN ref
    WHERE m.season_id BETWEEN ref.max_season - 2 AND ref.max_season
    GROUP BY team_id
)
SELECT 
    t.full_name AS team_name,
    t.year_founded,
    DATEDIFF(YEAR, CAST(t.year_founded AS VARCHAR) + '-01-01', GETDATE()) AS franchise_age,
    c.winrate_curr,
    c.ppg_curr
FROM curr c
JOIN dbo.team_final t ON t.id = c.team_id;
GO


/* ============================================================
   6️⃣ PREGUNTA 3 — Contexto ofensivo de jugadores activos
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q3_player_context_offense;
GO
CREATE VIEW analytics.vw_q3_player_context_offense AS
WITH team_perf AS (
    SELECT
        g.team_id_home AS team_id,
        AVG(CAST(g.pts_home AS FLOAT)) AS avg_ppg,
        AVG(CAST(g.fg_pct_home AS FLOAT)) AS avg_fg_pct
    FROM dbo.game_final g
    GROUP BY g.team_id_home
)
SELECT
    p.id AS player_id,
    p.full_name AS player_name,
    vt.team_name,
    tp.avg_ppg,
    tp.avg_fg_pct
FROM dbo.player_final p
LEFT JOIN dbo.common_player_info_final c ON c.person_id = p.id
LEFT JOIN analytics.vw_teams vt ON vt.team_id = c.team_id
LEFT JOIN team_perf tp ON tp.team_id = vt.team_id
WHERE c.nba_flag = 1;
GO


/* ============================================================
   7️⃣ PREGUNTA 4 — Evolución del promedio de puntos por década
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q4_ppg_by_decade;
GO
CREATE VIEW analytics.vw_q4_ppg_by_decade AS
SELECT 
    (season_id / 10) * 10 AS decade,
    ROUND(AVG(CAST(pts_home AS FLOAT)),2) AS avg_ppg_home,
    ROUND(AVG(CAST(pts_away AS FLOAT)),2) AS avg_ppg_away,
    ROUND((AVG(CAST(pts_home AS FLOAT)) + AVG(CAST(pts_away AS FLOAT))) / 2,2) AS league_ppg
FROM dbo.game_final
GROUP BY (season_id / 10) * 10;
GO


/* ============================================================
   8️⃣ PREGUNTA 5 — Consistencia por temporada
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q5_consistency;
GO
CREATE VIEW analytics.vw_q5_consistency AS
SELECT 
    vt.team_name,
    m.team_id,
    STDEV(CAST(m.winrate AS FLOAT)) AS sd_winrate,
    STDEV(CAST(m.avg_ppg AS FLOAT)) AS sd_ppg,
    ROUND(
        COALESCE(STDEV(CAST(m.winrate AS FLOAT)),0) +
        COALESCE(STDEV(CAST(m.avg_ppg  AS FLOAT)),0), 3
    ) AS consistency_score
FROM analytics.vw_team_season_metrics AS m
JOIN analytics.vw_teams vt ON vt.team_id = m.team_id
GROUP BY vt.team_name, m.team_id;
GO


/* ============================================================
   9️⃣ PREGUNTA 6 — Impacto de la localía
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q6_home_away_impact;
GO
CREATE VIEW analytics.vw_q6_home_away_impact AS
SELECT
    vt.team_name,
    g.season_id,
    AVG(CASE WHEN g.wl_home = 'W' THEN 1.0 ELSE 0 END) AS winrate_home,
    AVG(CASE WHEN g.wl_away = 'W' THEN 1.0 ELSE 0 END) AS winrate_away,
    AVG(CAST(g.pts_home AS FLOAT)) AS ppg_home,
    AVG(CAST(g.pts_away AS FLOAT)) AS ppg_away,
    (AVG(CASE WHEN g.wl_home = 'W' THEN 1.0 ELSE 0 END)
   - AVG(CASE WHEN g.wl_away = 'W' THEN 1.0 ELSE 0 END)) AS delta_winrate
FROM dbo.game_final AS g
LEFT JOIN analytics.vw_teams AS vt ON vt.team_id = g.team_id_home
GROUP BY vt.team_name, g.season_id;
GO


/* ============================================================
   🔟 PREGUNTA 7 — Equilibrio FG% vs Pérdidas (proxy)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q7_balance_of_def;
GO
CREATE VIEW analytics.vw_q7_balance_of_def AS
SELECT 
    vt.team_name,
    g.season_id,
    AVG(CAST(g.fg_pct_home AS FLOAT)) AS fg_pct_avg,
    AVG(CAST(g.tov_home    AS FLOAT)) AS tov_avg,
    ROUND(AVG(CAST(g.fg_pct_home AS FLOAT)) - (AVG(CAST(g.tov_home AS FLOAT))/100.0), 3) AS balance_score
FROM dbo.game_final AS g
LEFT JOIN analytics.vw_teams AS vt ON vt.team_id = g.team_id_home
GROUP BY vt.team_name, g.season_id;
GO


/* ============================================================
   1️⃣1️⃣ PREGUNTA 8 — Racha máxima de victorias
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q8_longest_win_streak;
GO
CREATE VIEW analytics.vw_q8_longest_win_streak AS
WITH g AS (
    SELECT 
        team_id_home AS team_id,
        CAST(game_date AS DATE) AS game_date,
        CASE WHEN wl_home = 'W' THEN 1 ELSE 0 END AS win
    FROM dbo.game_final
),
ordered AS (
    SELECT
        team_id, game_date, win,
        ROW_NUMBER() OVER (PARTITION BY team_id ORDER BY game_date) AS rn,
        SUM(CASE WHEN win = 0 THEN 1 ELSE 0 END)
          OVER (PARTITION BY team_id ORDER BY game_date ROWS UNBOUNDED PRECEDING) AS grp
    FROM g
),
streaks AS (
    SELECT team_id, grp, COUNT(*) AS len
    FROM ordered
    WHERE win = 1
    GROUP BY team_id, grp
)
SELECT 
    vt.team_name,
    s.team_id,
    MAX(s.len) AS longest_win_streak
FROM streaks s
JOIN analytics.vw_teams vt ON vt.team_id = s.team_id
GROUP BY vt.team_name, s.team_id;
GO


/* ============================================================
   1️⃣2️⃣ PREGUNTA 9 — Perfil físico promedio (altura/peso)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q9_physical_profile;
GO
CREATE VIEW analytics.vw_q9_physical_profile AS
SELECT
    vt.team_name,
    COUNT(*) AS n_players,
    ROUND(AVG(TRY_CONVERT(FLOAT, c.height)),2) AS avg_height,
    ROUND(AVG(TRY_CONVERT(FLOAT, c.weight)),2) AS avg_weight
FROM dbo.common_player_info_final AS c
LEFT JOIN analytics.vw_teams vt ON vt.team_id = c.team_id
WHERE c.nba_flag = 1
GROUP BY vt.team_name;
GO


/* ============================================================
   1️⃣3️⃣ PREGUNTA 10 — Rendimiento reciente (últimos 10 años)
============================================================ */
DROP VIEW IF EXISTS analytics.vw_q10_recent_top;
GO
CREATE VIEW analytics.vw_q10_recent_top AS
WITH ref AS (
    SELECT MAX(season_id) AS max_season FROM analytics.vw_team_season_metrics
),
last10 AS (
    SELECT m.*
    FROM analytics.vw_team_season_metrics m
    CROSS JOIN ref
    WHERE m.season_id BETWEEN ref.max_season - 9 AND ref.max_season
),
agg AS (
    SELECT
        team_id,
        AVG(winrate) AS winrate_10y,
        AVG(avg_ppg) AS ppg_10y
    FROM last10
    GROUP BY team_id
)
SELECT
    vt.team_name,
    a.team_id,
    ROUND(a.winrate_10y,3) AS winrate_10y,
    ROUND(a.ppg_10y,2) AS ppg_10y,
    RANK() OVER (ORDER BY a.winrate_10y DESC, a.ppg_10y DESC) AS rk_recent
FROM agg a
JOIN analytics.vw_teams vt ON vt.team_id = a.team_id;
GO
